/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************

Filename: style.css
Author: Nausheen Salauddin
Copyright: 2023 - All rights reserved

************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************/


/**********************************************************************
**********************************************************************

==================
Table of Contents
==================
1. HTML Body Styles
2. Heading Styles
3. Main Body Styles
4. Footer Styles



**********************************************************************
**********************************************************************/

/****************************  MAIN STYLES  ***********************************/

/**********************
1. HTML Body Styles
**********************/

body {
    background-color: rgba(234, 225, 214, 0.85)!important;
}

/**********************
2. Heading Styles
**********************/

h1 {
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    color: rgb(234, 151, 87);
    text-align: center;
    margin: 15px 10px;
}

h3 {
    font-size: 2em;
    font-family: 'Work Sans', sans-serif;
    color: rgb(234, 151, 87);
    text-align: center;
    margin: 15px 10px;
}

/**********************
3. Main Body Styles
**********************/

#logo {
    width: 50px;
}

img {
    width: 80%;
    display: block;
    margin: auto;
    height: auto;
}

p {
text-align: justify;
line-height: 1.5;
font-size: 1.5em;
color: rgb(226, 165, 79);
}

/**********************
4. Footer Styles
**********************/

footer {
    height:48px;  
    background-color: rgba(229, 125, 22, 0.845)
}

footer p {
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 6px 0px;
}

