/************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************

Filename: webform.css
Author: Nausheen Salauddin
Copyright: 2023 - All rights reserved

************************************************************************************************************************************************
************************************************************************************************************************************************
************************************************************************/


/**********************************************************************
**********************************************************************

==================
Table of Contents
==================
1. HTML Body Styles
2. Heading Styles
3. Main Body Styles
4. Footer Styles



**********************************************************************
**********************************************************************/

/****************************  MAIN STYLES  ***********************************/

/**********************
1. HTML Body Styles
**********************/

body {
    background-color: rgba(213, 130, 155, 0.85);
    min-height: 100vh;
}

/**********************
2. Heading Styles
**********************/

h1 {
    font-size: 3em;
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    margin: 5px 0px;
}

/**********************
3. Main Body Styles
**********************/

section {
    margin: 3em 0em;
}

button {
    width: 12em;
    height: 3.5em;
    border-radius: 100px;
    border: 0;
    background-color: gray;
    background-size: 200%;
}

button:hover {
    cursor: pointer;
}

button a {
    font-size: 1.5em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    margin-right: 10px;
}

label {
    font-size: 24px;
    font-family: 'Work Sans', sans-serif;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    width: 70%;
}

input[type="submit"] {
    width: 10%;
    height: 3.5em;
    align-self: center;
    border-radius: 100px;
    border: 0;
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
}

input, textarea {
    margin: 15px 0px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
}

input:focus, textarea:focus {
    outline: none;
}

/**********************
4. Footer Styles
**********************/

footer {
    height:48px;  
    background-color: rgba(91 50 74 / 30%)
}

footer p {
    font-family: 'Work Sans', sans-serif;
    color: white;
    text-align: center;
    font-size: 1.5em;
    padding: 6px 0px;
}

/****************************  MEDIA STYLES - 850px  ***********************************/

@media screen and (max-width: 850px)
{ 
    input[type="submit"]{
        width: 30%;
    }
}

/****************************  MEDIA STYLES - 550px  ***********************************/

@media screen and (max-width: 550px)
{  
    body {
        background-color: rgba(214, 100, 134, 0.85);
        min-width: 480px;
    }
    
    button {
        width: 90%;
        margin-bottom: 5px;
    }

    label {
        font-size: 27px;
    }

    input[type="submit"]{
        margin-top: 10px;
    }

    footer p {
        padding: 12px 0px;
        font-size: 1.2em;
    }

}

/****************************  MEDIA STYLES - 480px  ***********************************/

@media screen and (max-width: 480px)
{  
    body {
        background-color: rgba(142, 84, 101, 0.85);
        min-width: 480px;
    }
    
    label {
        font-size: 29px;
    }

    footer p {
        font-size: 1em;
    }


}